*{
    margin: 0%;
    padding: 0%;
}


nav{
    background-color: black;
    color: white;
    padding: 20px;
}
ul,li,h1{
    display: inline;
}
ul{
    padding-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}

li:hover{
    color: white;
}
input{
    width: 60%;
    border-color: black;
    border-radius: 2px;
    border-style: solid;


    padding: 10px;
    
}
.search{
    text-align: center;
    padding: 40px;
}

.one{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 225px;

}
.products{
    text-align: center;
}

.one:hover{
    background-color: black;
    color: white;
}
.about{
    margin-top: 20px;
    padding: 15px;
}
p{
    margin-top: 20px;
}
.content{
    background-color: black;
    color: white;padding: 20px;
}


